@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body{
     font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200 - 900;
  font-style: normal;
}

button{
    cursor: pointer;
}